/* Estilos generales */
body {
    font-family: Arial, sans-serif;
  }
  
  /* Estilos para el encabezado */
  header {
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  /* Estilos para las secciones */
  section {
    margin-bottom: 30px;
  }
  
  h2 {
    margin: 0 0 10px;
  }
  
  /* Estilos para la lista de productos en el carrito */
  #productos-carrito {
    list-style-type: none;
    padding: 0;
  }
  
  #productos-carrito li {
    margin-bottom: 10px;
  }
  
  .precio {
    font-weight: bold;
  }
  
  /* Estilos para los botones */
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Estilos para el formulario de búsqueda */
  #input-busqueda {
    margin-right: 10px;
    padding: 8px;
    width: 200px;
  }
  
  /* Estilos para el pie de página */
  footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
  }
  